@import "theme.css";
@import "styles/modules-center.css";
@import "styles/modules-left.css";
@import "styles/modules-right.css";
@import "styles/states.css";
@import "styles/typeface.css";
@import "styles/waybar.css";
